{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container px-3 px-lg-4 my-5">
    <article class="row mb-5 gx-4 gx-lg-5 align-items-center">
        <div class="col-md-6">
            <img class="card-img-top mb-5 mb-md-0 rounded" src="{{ template_data.movie.image.url }}" alt="{{ template_data.movie.name }}" />
        </div>
        <div class="col-md-6">
            <h1 class="display-5 fw-bolder">{{ template_data.movie.name }}</h1>
            <p class="fs-3 mt-3 mb-5 text-end">
                <span class="rounded-circle border border-warning-subtle p-2">£{{ template_data.movie.price }}</span>
            </p>
            <p class="lead">{{ template_data.movie.description}}</p>
            <div class="d-flex">
                <input class="form-control form-control-lg text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                <button class="btn btn-lg btn-warning flex-shrink-0" type="button">
                    <i class="fa-solid fa-cart-plus"></i>&nbsp;
                    Add to cart
                </button>
            </div>
        </div>
    </article>
    <section class="my-5">
        <header>
            <h1 class="h3"></h1>
            <hr />
        </header>
        <ulclass="list-group">
            {% for review in template_data.reviews %}
            <li class="list-group-item pb-3 pt-3">
                <h2 class="h5 card-title">
                    Review by {{ review.user.username }}
                </h2>
                <p class="small card-subtitle mb-2 text-muted">{{ review.date }}</p>
                <p class="card-text">{{ review.comment }}</p>
                {% if user.is_authenticated and user == review.user %}
                <a class="btn btn-warning text-capitalize" href="{% url 'movies.edit_review' id=template_data.movie.id review_id=review.id %}">
                    edit
                </a>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </section>
    {% if user.is_authenticated %}
    <section class="container mt-5 pt-3">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card shadow p-3 mb-4 rounded">
                    <div class="card-body">
                        <b class="text-start lead fw-bold">Create a review</b><br /><br />
                        <form method="POST" action="{% url 'movies.create_review' id=template_data.movie.id %}">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="comment">Comment:</label>
                                <textarea name="comment" required class="form-control" rows="5" id="comment"></textarea>
                            </div>
                            <div class="text-start mt-3">
                                <button type="submit" class="btn bg-dark text-white">Add Review</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
</div>

{% endblock content %}
