:root {
    --black:      #001524; /* app palette */
    --grey:       #CCCCCC;
    --light-grey: #EBEBEB;
    --off-white:  #FFECD1; /* app palette */
    --white:      #FFFFFF;
    --blue-one:   #3498DB;
    --blue-two:   #2980B9;
    --red-one:    #E74C3C;
    --red-two:    #C0392B;
    --yellow-one: #F1C40F;
    --yellow-two: #F39C12;
    --green-one:  #2ECC71;
    --green-two:  #27AE60;
    --orange-one: #FF7D00; /* app palette */
    --orange-two: #D35400;
    --brown-one:  #C99977;
    --brown-two:  #78290F; /* app palette */
    --teal-one:   #008080;
    --teal-two:   #15616D; /* app palette */

    /* Backgrounds */
    --primary-bg: var(--brown-two);
    --secondary-bg: var(--orange-one);
    --third-bg: var(--off-white);
    --forth-bg: var(--teal-two);
    --inverse-bg: var(--black);

    /* Text */
    --primary-txt: var(--black);
    --secondary-txt: var(--teal-two);
    --light-txt: var(--off-white);
    --loud-txt: var(--orange-one);
    --inverse-txt: var(--white);

    /* Links */
    --primary-link-dark: var(--teal-two);
    --primary-link-dark-hover: var(--black);
    --primary-link-light: var(--off-white);
    --primary-link-light-hover: var(--white);

    /* Borders */
    --primary-border: var(--black);
    --secondary-border: var(--teal-two);
    --third-border: var(--orange-one);
    --forth-border: var(--off-white);
    --primary-border-focus: var(--teal-two);
    --secondary-border-focus: var(--black);
    --primary-border-focus-light: var(--off-white);
    --secondary-border-focus-light: var(--orange-one);
    --border-size: 1px;
    --border-type: solid;

    /* Typography */
    --base-font-size: 14px;
    --font-size: 1rem;
    --base-line-height: 1.5;

    /* Layout */
    --margin: 1rem;
    --padding: 1rem;
}

body {
   color: var(--primary-txt);
   font-size: var(--base-font-size);
   line-height: var(--base-line-height);
   height: 100vh;
}

em,
b {
    font-weight: 400;
}

img {
    max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
    color: var(--primary-link-light);
    text-decoration: none;
}

a:hover {
    color: var(--primary-link-light-hover);
}

.oswald-title-heading {
  font-family: "Oswald", 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nunito-sans-typography {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "YTLC" 500;
}

.rounded-corners {
    border-radius: 3px;
}

/* Navbar */

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding) 5%;
    background: var(--primary-bg);
}

.navbar-logo,
.navbar-logo:hover {
  text-transform: uppercase;
  color: var(--light-txt);
  font-size: calc(var(--font-size) * 1.5);
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul li a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: calc(var(--font-size) * 1.2);
    color: var(--secondary-txt);
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;
}

ul li a:hover,
ul li a.active {
    color: var(--primary-txt);
    background: var(--secondary-bg);
}

#icon {
    background-color: var(--third-bg);
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
    transition: all .3s ease;
}

#icon svg {
    color: var(--primary-txt);
    height: 28px;
    transition: all .3s ease;
}

#icon:hover {
    background-color: var(--third-bg);
}

#icon:hover svg {
    color: var(--primary-txt);
}

#checkbox,
#icon {
    display: none;
}

@media (max-width: 1320px) {
    nav {
        border-bottom: 1px solid var(--secondary-border);
    }

    ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 71px);
        background-color: var(--forth-bg);
        left: 0;
        top: 0;
        text-align: center;
        display: none;
        margin-top: 71px;
        z-index: 3;
    }

    ul li {
        display: block;
        padding: 10px 15px;
    }

    ul li a {
        display: block;
        padding: 10px 0;
    }

    #icon {
        display: block;
    }

    #checkbox:checked~ul {
        display: block;
    }
}

/* Hero banner */

.masthead {
    background-size: cover;
    min-height: 60vh;
    position: relative;
    color: var(--light-txt);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    
}

.banner {
    background-image: url('/static/imgs/banner.jpg');
}

.banner-header {
    margin-top: calc(var(--margin) * 4);
    font-size: calc(var(--font-size) * 6.5);
    color: var(--light-txt);
    letter-spacing: 0.12rem;
    word-spacing: 0.24rem;
}

.banner-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
}
 
@media (max-width: 980px) {
    .masthead {
        min-height: 30vh;
    }

    .banner-header {
        margin-top: calc(var(--margin) * 2);
        font-size: calc(var(--font-size) + 3.3vw);
        letter-spacing: 0.022rem;
        word-spacing: 0.095rem;
    }
}

@media (max-width: 1200px) {
    .banner-header {
        font-size: calc(var(--font-size) + 4.5vw);
    }
}

