{% extends "layout.html" %}
{% load static %}
{% block content %}
    <figure class="masthead banner">
        <header class="banner-overlay d-flex justify-content-center align-items-start">
            <h1 class="banner-header">Welcome to Petzy!</h1>
        </header>
    </figure>
    <!-- Services-->
    <section class="page-wrapper" id="services">
        <div class="container">
            <div class="text-center mb-5">
                <h2 class="h1 text-uppercase oswald-title-heading">Services</h2>
                <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur.</p>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i style="color: var(--loud-txt)" class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 style="color: var(--third-txt)" class="my-3 text-capitalize">purchase online</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i style="color: var(--loud-txt)" class="fas fa-circle fa-stack-2x"></i>
                        {% comment %} <i class="fas fa-laptop fa-stack-1x fa-inverse"></i> {% endcomment %}
                        <i class="fas fa-dog fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 style="color: var(--third-txt)" class="my-3 text-capitalize">puppy pet store</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i style="color: var(--loud-txt)" class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-credit-card fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 style="color: var(--third-txt)" class="my-3 text-capitalize">buy now pay later</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Workers -->
    <section class="page-wrapper bg-light" id="team">
        <div class="container">
            <div class="text-center mb-5">
                <h2 class="h1 text-uppercase oswald-title-heading text-uppercase">Our Amazing Team</h2>
                <p class="lead text-muted">Lorem ipsum dolor sit amet consectetur.</>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="workers">
                        <img class="mx-auto rounded-circle" src="{% static 'imgs/worker-1.jpg' %}" alt="..." />
                        <h4>Prof. Parveen Anand</h4>
                        <p class="text-muted text-capitalize">principal veterinarian</p>
                        <a style="color: var(--loud-txt)" class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a style="color: var(--loud-txt)" class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a style="color: var(--loud-txt)" class="btn btn-dark btn-social mx-2" href="#!" aria-label="Parveen Anand LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="workers">
                        <img class="mx-auto rounded-circle" src="{% static 'imgs/worker-2.jpg' %}" alt="..." />
                        <h4>Diana Petersen</h4>
                        <p class="text-muted text-capitalize">sales manager</p>
                        <a style="color: var(--loud-txt)" class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a style="color: var(--loud-txt)" class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a style="color: var(--loud-txt)" class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="workers">
                        <img class="mx-auto rounded-circle" src="{% static 'imgs/worker-3.jpg' %}" alt="..." />
                        <h4>Dr. Larry Parker</h4>
                        <p class="text-muted text-capitalize">veterinarian</p>
                        <a style="color: var(--loud-txt)" class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                        <a style="color: var(--loud-txt)" class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a style="color: var(--loud-txt)" class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
            </div>
        </div>
    </section>

    <!-- Gallery -->
    <section style="background-color: var(--third-bg)" class="page-wrapper">
        <article class="container">
            <section class="gallery-container w-3 h2">
                <figure class="gallery-img">
                    <div class="image">
                        <img class="img-fluid" src="{% static 'imgs/gallery-1.jpg' %}" alt="Gallery Image 1" />
                    </div>
                </figure>
            </section>
        </article>
    </section>
{% endblock content %}


{# credits for banner image #}
{# <a href="https://www.freepik.com/free-photo/artistic-shot-companion-dog-darkness-looking-into-light_13465415.htm#fromView=keyword&page=1&position=3&uuid=1918328e-aa47-4cba-bb3f-a99683bbcee8&query=Dog+Black+Background">Image by wirestock on Freepik</a> #}