{% extends "layout.html" %}
{% block content %}
    <figure class="masthead banner">
        <header class="banner-overlay d-flex justify-content-center align-items-start">
            <h1 class="banner-header">Welcome to Petzy!</h1>
        </header>
    </figure>
{% endblock content %}


{# credits for banner image #}
{# <a href="https://www.freepik.com/free-photo/artistic-shot-companion-dog-darkness-looking-into-light_13465415.htm#fromView=keyword&page=1&position=3&uuid=1918328e-aa47-4cba-bb3f-a99683bbcee8&query=Dog+Black+Background">Image by wirestock on Freepik</a> #}