{% extends "base.html" %}
{% block content %}
<div class="p-3 mt-4 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <section class="col-md-8">
                <div class="card shadow p-3 mb-4 rounded">
                    <div class="card-body">
                        <header class="mb-4">
                            <h1>Sign Up</h1>
                            <hr />
                        </header>
                        <form method="POST">
                            {% csrf_token %}
                            {{ template_data.form.as_p }}
                            <button class="btn btn-dark text-uppercase">sign up</button>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
{% endblock content %}