<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="author" content="John C Lamy">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>{{data.page_title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@700&display=swap">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"crossorigin="anonymous"></script>
</head>
<body class="nunito-sans-typography">
    <nav class="navbar-container">
        <a href="#" class="navbar-logo">petzy</a>
        <input id="navbar-menu-btn" class="navbar-menu-btn" type="checkbox">
        <label for="navbar-menu-btn" class="navbar-menu-btn-icon">
            <i class="navbar-menu-btn-icon-bars" aria-hidden="true"></i>
        </label>
        <section class="navbar-menu-navlinks">
            <a href="#" class="navbar-menu-navlink">home</a>
            <a href="#" class="navbar-menu-navlink">about us</a>
            <a href="#" class="navbar-menu-navlink">pets</a>
            <div class="navbar-menu-navlinks_end">
                <a href="#" class="navbar-menu-navlink">
                    <i class="fa fa-shopping-cart" aria-hidden="true" title="Shopping cart"></i>
                </a>
                <a href="#" class="navbar-menu-navlink">
                    <i class="fa fa-list-ul" aria-hidden="true" title="List of orders"></i>
                </a>
                <a href="#" class="navbar-menu-navlink">
                    <i class="fa fa-sign-in" aria-hidden="true" title="Sign in"></i>
                </a>
            </div>
        </section>
    </nav>    
    <main>
        {% block content %}
        {% endblock content %}
    </main>
    <!-- Footer -->
    <!-- Footer -->
</body>
</html>