{% extends "base.html" %}
{% block content %}
    <header class="masthead banner text-center text-white py-4">
        <div class="container d-flex align-items-center flex-column pt-2">
            <h1 class="display-1 text-uppercase">webflix</h1>
            <p class="lead text-capitalize">your number one movie network</p>
        </div>
    </header>
    <section class="p-3">
        <div class="container">
            <div class="row mt-3">
                <div class="col mx-auto text-center mb-3">
                    <h1>Welcome to the movie store of your dreams!</h1>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}