*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: var(--font-family);
  background: var(--bg-primary);
  line-height: var(--base-line-height);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-size: var(--base-font-size);
  font-style: var(--font-style-normal);
  color: var(--txt-primary);
}


/**************************************************
 ****************   Layout rules   **************** 
 **************************************************/
 
