*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

b {
  font-weight: var(--font-weight-normal) !important;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

body {
  font-family: var(--font-family);
  background: var(--bg-light);
  line-height: var(--base-line-height);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-size: var(--base-font-size);
  font-style: var(--font-style-normal);
  color: var(--txt-primary);
}


/**************************************************
 ****************   Layout rules   **************** 
 **************************************************/


/**************************************************
 *****************   Page rules   ***************** 
 **************************************************/

 /* home page */
.hero-title {
  color: var(--txt-heading);
  font-size: calc(var(--font-size) * 1.1);
  background: var(--bg-primary);
  padding: calc(var(--padding) * 0.5) 0;
  border-radius: 1rem;
}

.hero-title > p {
  color: var(--txt-subheading);
}

.hero-title-name > span {
  text-transform: uppercase !important;
  font-weight: var(--font-weight-bold);
}

.hero-title-name-first {
  color: var(--red);
}

.hero-title-name-middle {
  color: var(--yellow);
}

.hero-title-name-last {
  color: var(--blue);
}