{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- Product section-->
<main class="py-5">
    <div class="container px-4 px-lg-5">
        <section class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{ template_data.movie.image.url }}" alt="{{ template_data.movie.name }}" /></div>
            <div class="col-md-6">
                <h1 class="display-5 fw-bolder">{{ template_data.movie.name }}</h1>
                <div class="fs-5 mb-5">
                    <span>£{{ template_data.movie.price }}.00</span>
                </div>
                <p class="lead">{{ template_data.movie.description }}</p>
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="{% url 'cart.add' id=template_data.movie.id %}">
                            <div class="row d-flex justify-content-center">
                                {% csrf_token %}
                                <div class="col-auto">
                                    <div class="input-group col-auto">
                                        <div class="input-group-text">Quantity</div>
                                        <input type="number" min="1" max="10" class="form-control" name="quantity" value="1">
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-dark" type="submit">
                                        <i class="fa-solid fa-cart-plus"></i>&nbsp; Add to cart
                                    </button>
                                </div>
                            </div> <!-- end inner form row-->
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <hr class="my-5" style="border:5px solid grey; border-radius:5px" />

        <section class-"mb-4">
            <header>
                <h1 class="h2 mb-0">Reviews</h1>
                <hr class="mt-0" />
            </header>
        </section>
        {% if user.is_authenticated %}
        <section class="mt-4 row justify-content-center">
            <div class="col-12">
                <div class="card shadow p-3 mb-4 rounded">
                    <div class="card-body">
                        <b class="text-start">Create a review</b><br /><br />
                        <form method="POST" action="{% url 'movies.create_review' id=template_data.movie.id %}">
                            {% csrf_token %}
                            <p>
                                <label for="comment">Comment:</label>
                                <textarea name="comment" rows="6" required class="form-control" id="comment"></textarea>
                            </p>
                            <div class="text-center">
                                <button type="submit" class="btn bg-dark text-white">
                                    Add Review
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        {% endif %}
        <section class="my-4">
            <ul class="list-group">
                {% for review in template_data.reviews %}
                <li class="list-group-item pb-3 pt-3">
                    <h2 class="h6 mb-0">Review by {{ review.user.username }}</h2>
                    <p class="mb-2 text-muted" style="font-size:12px;">{{ review.date }}</p>
                    <p>{{ review.comment }}</p>
                    {% if user.is_authenticated and user == review.user %}
                    <a class="btn btn-warning btn-sm" href="{% url 'movies.edit_review' id=template_data.movie.id review_id=review.id %}">
                        Edit
                    </a>
                    <a class="btn btn-danger btn-sm" href="{% url 'movies.delete_review' id=template_data.movie.id review_id=review.id %}">
                        Delete
                    </a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </section>
    </div>
</main>
{% endblock content %}