{% extends "base.html" %}
{% block content %}
{% load static %}
{% load cart_filters %}
<div class="py-3">
    <div class="container">
        <header class="row mt-3">
            <div class="col mx-auto mb-3">
                <h1 class="h3 text-capitalize">shopping cart</h1>
                <hr />
            </div>
        </header>
        <section class="row m-1">
            <table class="table table-bordered table-striped text-center">
                <thead>
                    <tr>
                        <th class="text-uppercase" scope="col">id</th>
                        <th class="text-capitalize" scope="col">name</th>
                        <th class="text-capitalize" scope="col">price</th>
                        <th class="text-capitalize" scope="col">quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movie in template_data.movies_in_cart %}
                    <tr>
                        <td>{{ movie.id }}</td>
                        <td>{{ movie.name }}</td>
                        <td>£{{ movie.price }}</td>
                        <td>{{ request.session.cart|get_quantity:movie.id }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>
        <section class="row">
            <div class="text-end mb-5">
                {% if template_data.movies_in_cart|length > 0 %}
                <h1 class="mt-3 text-capitalize">
                    <span class="badge text-bg-secondary">total to pay: £{{ template_data.cart_total }}</span>
                </h1>
                <a class="btn btn-outline-success mb-4 mt-2 me-3 btn-lg" href="{% url 'cart.purchase' %}">
                    <b class="text-uppercase">purchase now</b>
                </a>
                <a class="btn btn-danger mb-4 mt-2 btn-lg text-capitalize" href="{% url 'cart.clear' %}">clear cart</a>
                {% else %}
                <h1 class="mt-3 text-capitalize">
                    <span class="badge text-bg-secondary">empty cart</span>
                </h1>
                {% endif %}
            </div>
        </section>
    </div>
</div>
{% endblock content %}